asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.7
Django==5.2.15
django-environ==0.14.0
gunicorn==26.0.0
idna==3.18
packaging==26.2
pillow==12.2.0
PyMySQL==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.34.2
six==1.17.0
sqlparse==0.5.5
stripe==2.60.0
urllib3==2.7.0
whitenoise==6.12.0
