{% extends 'base.html' %}

{% block main %}
<div class="container my-5" style="max-width: 800px;">
  <h1 class="fw-bold mb-4">プライバシーポリシー</h1>
  <div class="p-4 border rounded bg-white shadow-sm">
    <p>株式会社 NAGOYAMESHI（以下，「当社」といいます。）は，本ウェブサイト上で提供するサービス（以下，「本サービス」といいます。）における，ユーザーの個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。</p>
    
    <h5 class="fw-bold mt-4">第1条（個人情報の収集方法）</h5>
    <p class="text-muted small">当社は，ユーザーが利用登録をする際に氏名，生年月日，住所，電話番号，メールアドレスなどの個人情報をお尋ねすることがあります。</p>
    
    <h5 class="fw-bold mt-4">第2条（個人情報を収集・利用する目的）</h5>
    <p class="text-muted small">当社が個人情報を収集・利用する目的は，本サービスの提供・運営のため、およびユーザーからのお問い合わせに回答するためです。</p>
  </div>
</div>
{% endblock %}