<footer class="container w-100 bg-dark text-white py-4" style="max-width: 100%;">
  <div class="row mt-4 mx-5">

    <!-- 左側：サイトロゴとコピーライト -->
    <div class="col-12 col-md-4 mb-4 mb-md-0">
      <h5 class="text-uppercase fw-bold">NAGOYAMESHI</h5>
      <!-- コピーライトの西暦を現在に合わせて更新 -->
      <small class="d-block text-muted">&copy; 2024-2026 NAGOYAMESHI All rights reserved.</small>
    </div>

    <!-- 規約・企業情報 -->
    <div class="col-6 col-md-3 mb-3">
      <h6 class="fw-bold">サイトについて</h6>
      <ul class="list-unstyled text-small">
        <li><a class="link-light text-muted text-decoration-none" href="{% url 'company' %}">会社概要</a></li>
        <li><a class="link-light text-muted text-decoration-none" href="{% url 'terms' %}">利用規約</a></li>
        <li><a class="link-light text-muted text-decoration-none" href="{% url 'privacy' %}">プライバシーポリシー</a></li>
      </ul>
    </div>

  </div>
</footer>