<div class="py-3 bg-dark">
  <nav class="container d-flex flex-column flex-md-row justify-content-between px-3 px-md-5">
    <a class="py-2 text-white fw-bold text-decoration-none" href="/">NAGOYAMESHI</a>

    <div class="d-flex flex-column flex-md-row align-items-center" style="gap: 2.5rem;">
      {% if user.is_authenticated %}
        <span class="py-2 d-none d-md-inline-block text-white">ようこそ、{{ user.username }} さん</span>
        <a class="py-2 d-none d-md-inline-block text-white text-decoration-none" href="/profile/">アカウント設定</a>
        
        <form action="/logout/" method="post" class="d-inline m-0 p-0">
          {% csrf_token %}
          <button type="submit" class="btn btn-link py-2 text-white p-0 d-none d-md-inline-block text-decoration-none border-0 bg-transparent">
            ログアウト
          </button>
        </form>

      {% else %}
        <a class="py-2 d-none d-md-inline-block text-white text-decoration-none" href="/login/">ログイン</a>
        <a class="py-2 d-none d-md-inline-block text-white text-decoration-none" href="/profile/">新規登録</a>
      {% endif %}
    </div>
  </nav>
</div>